/* Universial*/
html{
  font-size:18px;
  line-height: 1.2rem;
}

/* Header */
.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height:64px;
  padding: 0 24px 0 24px;
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height:32px;
}

.desktop ul{
  display: flex;
  flex-direction: row;
}

.desktop ul li{
  margin-right: 16px;
}

.mobile{
  display: none;
}

@media only screen and (max-width:480px){
  .navigation{
    display: flex;
    justify-content:center;
    height: 64px;
  }

  .logo img{
    padding-right: 24px;
  }

.logo p{
  display: none;
}
  .desktop{
    display: none;
  }

  .mobile{
    display:block;
  }

  .mobile img{
    padding-right: 24px;
  }


}

/* Discover Banner */
.discover{
 display: flex;
 justify-content: space-between;
 flex-direction: row;
  padding:32px 24px;

}

.study img{
  width:60%;
  height: auto;
  margin-right: 24px;
}

.learn{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  right:300px;
  width:40%
}

.learn h1{
  margin-bottom: 24px;
}

button{
  margin-top: 24px;
  padding:8px 0;
  width:80%;
}

@media only screen and (max-width:480px){
  .discover{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .study img{
    width:100%;
  }

  .learn{
    position: relative;
    left: 16px;
    padding: 32px 0 32px 0;
    width:100%;

  }
  .learn h1{
    margin-bottom: 32px;
  }
}

/* About Banner */
.about{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.read img{
  width:60%;
  height: auto;
  padding:32px 24px;
}

.read-text{
  padding:32px 24px;
  width: 60%;
}

.read-text h1, blockquote{
  margin-bottom: 24px;
}

.fyi{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top:15px;
  right:300px;
  width:40%;
}

.orientation, .campus, .guest{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.orientation img, .campus img, .guest img{
  width:35%;
  height: auto;
  padding:16px;
}

.orientation-info, .campus-info, .guest-info{
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  width:60%;
}

.orientation-info h2, .campus-info h2, .guest-info h2{
  padding-bottom: 8px;
}

.orientation-info p, .campus-info p, .guest-info p{
  padding-bottom: 8px;
}

@media only screen and (max-width:480px){
.read{
  display: none;
}

.fyi{
  position: relative;
  right:136px;
  width:100%;
  padding:16px 16px 32px 16px;
}

.orientation, .campus, .guest{
  display: flex;
  flex-direction: column;
  margin-top:32px;
}

.orientation img, .campus img, .guest img{
  width: 100%;
  height:auto;
}

.orientation-info, .campus-info, .guest-info{
  position: relative;
  left:41px;

}

}

/* Majors Banner */
.start{
  text-align: center;
}

.majors{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding:32px 72px;
}

.software, .computer-art, .design, .data, .business, .marketing{
  display: flex;
  flex-direction: column;
  width: 33%;
}

.data, .business, .marketing{
  padding-top: 32px;
}

.software img, .computer-art img, .design img, .data img, .business img, .marketing img{
  width:80%;
  height:auto;
}

.software h2, .computer-art h2, .design h2, .data h2, .business h2, .marketing h2{
  padding:16px 16px 8px 16px;
}

.software h3, .computer-art h3, .design h3, .data h3, .business h3, .marketing h3{
  padding:8px 0 0 16px;
}

.mobile-majors{
  display: none;
}

@media only screen and (max-width:480px) {
  .majors{
    display: none;
  }
  .mobile-majors{
    display: block;
    margin: 16px 16px 32px 16px;
  }
}


/*Thesis Banner */
.exhibit{
  text-align: center;
  padding: 32px;
}

.thesis{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.video{
  padding:0 24px 24px 24px;
  width:60%;
}

video{
  width:100%;
}

.video-text{
padding: 24px 0 32px 0;
}

.video-text h2{
  padding-bottom: 8px;
}

.articles{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:40%;
}

.fisma, .now-and-then{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.fisma img, .now-and-then img{
  width:35%;
  height:auto;
  padding:16px;
}

.fisma-text, .now-and-then-text{
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  width:60%;
}

.fisma-text h2, .now-and-then-text h2{
  padding-bottom: 16px;
}

/* Footer */
.copyrights{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding:16px 24px 0 24px;
  height:69px;
}
