/* Universial */
html{
  font-size:18px;
  line-height: 1.5rem;
  margin: 0 auto;
}

@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 400;
  src: local('Eczar Regular'), local('Eczar-Regular'), url(https://fonts.gstatic.com/s/eczar/v6/BXRlvF3Pi-DLmz0lDO5Q82f1.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Eczar';
  font-style: normal;
  font-weight: 800;
  src: local('Eczar ExtraBold'), local('Eczar-ExtraBold'), url(https://fonts.gstatic.com/s/eczar/v6/BXRovF3Pi-DLmzWCKvt90WrfW8jX.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Header */
.navigation{
  font-family: 'Eczar', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height:64px;
  padding: 0 24px 0 24px;
  color: rgb(44,59,99);
  background-color: rgb(132,141,130);
}

.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height:32px;
}

.logo p{
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 800;
}

.logo span{
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

.desktop ul{
  display: flex;
  flex-direction: row;
}

.desktop ul li a{
  color: rgb(44,59,99);
  margin-right: 16px;
  text-decoration: none;
}

.desktop a:hover{
  color: rgb(236,229,154);
  text-decoration: underline;
}

.mobile{
  display: none;
}

@media only screen and (max-width:480px){
  .navigation{
    display: flex;
    justify-content:center;
    height: 64px;
  }

  .logo img{
    padding-right: 24px;
  }

.logo p{
  display: none;
}
  .desktop{
    display: none;
  }

  .mobile{
    display:block;
  }

  .mobile img{
    padding-right: 24px;
  }


}

/* Discover Banner */
.discover{
 display: flex;
 justify-content: space-between;
 flex-direction: row;
 padding:32px 24px;
 color: rgb(235,229,154);
 background-color: rgb(44,59,99);
}

.study img{
  width:60%;
  height: auto;
  margin-right: 24px;
}

.learn{
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  right:300px;
  width:40%
}

.learn h1{
  font-family: 'Eczar', serif;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 24px;
  overflow: visible;
  white-space: nowrap;
  text-overflow:ellipsis;
}

button{
  margin-top: 24px;
  padding:8px 0;
  width:80%;
  background-color: rgb(235,229,154);
  border: none;
  border-radius: 5px;
}

button a{
 font-family: 'Roboto', sans-serif;
 color: rgb(44,59,99);
 text-decoration: none;
}

button:hover{
  background-color:rgb(132,141,130);
}

@media only screen and (max-width:480px){
  .discover{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .study img{
    width:100%;
  }

  .learn{
    position: relative;
    left: 16px;
    padding: 32px 0 32px 0;
    width:100%;

  }
  .learn h1{
    margin-bottom: 32px;
  }
}

/* About Banner */
.about{
display: flex;
flex-direction: row;
color: rgb(44,59,99);
background-color: rgb(132,141,130);

}

.read{
  width:60%
}

.read img{
  padding:32px 24px;
  width:80%;
}

.read-text{
  font-family: 'Roboto', sans-serif;
  padding: 0 0 32px 24px;
  width:60%;
}

.read-text h1{
  font-family: 'Eczar', serif;
  font-size: 1.5rem;
  font-weight: 800;
  padding-bottom: 24px;
}

blockquote{
  padding-bottom: 32px;
}

.fyi{
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  width:40%;
  border-left: 2px solid rgb(44,59,99);
}

.orientation, .campus, .guest{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.orientation h1, .campus h1, .guest h1{
  font-family: 'Eczar', serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.orientation img, .campus img, .guest img{
  width:35%;
  height: auto;
  padding:16px;
}

.orientation a, .campus a, .guest a{
  text-decoration: none;
}

.orientation a:hover, .campus a:hover, .guest a:hover{
  color:rgb(236,229,154);
  font-size: 2rem;
}

.orientation-info, .campus-info, .guest-info{
  font-family: 'Roboto', sans-serif;
  overflow: visible;
  white-space: nowrap;
  text-overflow:ellipsis;
  padding-right: 24px;
}

.campus-info p{
  padding-bottom: 8px;
}

.orientation-info h2, .campus-info h2, .guest-info h2{
  padding:8px;
}

.orientation-info p, .campus-info , .guest-info p{
  padding:8px;
}

#orientation-mobile, #campus-mobile, #guest-mobile{
  display: none;
}

@media only screen and (max-width:480px){
.read{
  display: none;
}

.fyi{
  width:100%;
  padding:16px 16px 32px 16px;
}

.orientation, .campus, .guest{
  display: flex;
  flex-direction: column;
  margin-top:32px;
}

.orientation img, .campus img, .guest img{
  display: none;
}


#orientation-mobile, #campus-mobile, #guest-mobile{
  display: block;
  width:100%;
}

}

/* Majors Banner */
.start{
  font-family: 'Eczar',serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding-top: 24px;
  color:rgb(236,229,154);
  background-color:rgb(44,59,99);
}

.majors{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding:32px 72px;
  background-color:rgb(44,59,99);
}

.software, .computer-art, .design, .data, .business, .marketing{
  display: flex;
  flex-direction: column;
  width: 33%;
  color:rgb(132,141,130);
}

.data, .business, .marketing{
  padding-top: 32px;
}

.software:hover, .computer-art:hover, .design:hover, .data:hover, .business:hover, .marketing:hover{
  color:rgb(236,229,154);
}

.software img, .computer-art img, .design img, .data img, .business img, .marketing img{
  width:80%;
  height:auto;
}

.software img:hover, .computer-art img:hover, .design img:hover, .data img:hover, .business img:hover, .marketing img:hover{
  transform:scale(1.2);
  transition: transform 500ms ease-in;
}


.software h1, .computer-art h1, .design h1, .data h1, .business h1, .marketing h1{
  font-family: 'Eczar',serif;
  font-size: 1.5rem;
  padding:16px 16px 8px 16px;
}

.software h2, .computer-art h2, .design h2, .data h2, .business h2, .marketing h2{
  font-family: 'Roboto',sans-serif;
  padding-left: 16px;
}

.software h3, .computer-art h3, .design h3, .data h3, .business h3, .marketing h3{
  font-family: 'Roboto',sans-serif;
  font-size: 0.75rem;
  padding:8px 0 0 16px;
}

.mobile-majors{
  display: none;
}

@media only screen and (max-width:480px) {
  .majors{
    display: none;
  }
  .mobile-majors{
    display: block;
    padding: 16px 16px 32px 16px;
    background-color:rgb(44,59,99);
  }
}


/*Thesis Banner */
.exhibit{
  font-family: 'Eczar',serif;
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding: 32px;
  color: rgb(44,59,99);
  background-color: rgb(132,141,130);
}

.thesis{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: rgb(44,59,99);
  background-color: rgb(132,141,130);

}

.video{
  padding:0 24px 24px 24px;
  width:60%;
}

video{
  width:100%;
}

.video-text{
padding: 24px 0 32px 0;
}

.video-text h2{
  padding-bottom: 8px;
}

.articles{
  display: flex;
  align-items: center;
  flex-direction: column;
  width:40%;
}

.fisma, .now-and-then{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.fisma img, .now-and-then img{
  width:35%;
  height:auto;
  padding:16px;
}

.fisma-text, .now-and-then-text{
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  width:60%;
}

.fisma-text h2, .now-and-then-text h2{
  padding-bottom: 16px;
}

@media only screen and (max-width:480px){
  .articles{
    display: none;
  }

  video{
    width:100%;
  }

  .video-text{
    display: none;
  }
}

/* Footer */
.copyrights{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding:16px 24px 0 24px;
  height:69px;
  color: rgb(132,141,130);
  background-color: rgb(37,3,82);
}

@media only screen and (max-width:480px){
  .copyrights{
    text-align: center;
    padding:16px 0 16px 16px;
  }

  .law{
    display: none;
  }
}
